div, html, button {
-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
div#level-box{
    
}
div#game-board{

    border: 6px solid lightgrey;

    display:table;

}



div#game-board div.game-row {

    display:table-row;

    width:auto;

}



div#game-board div.game-row div.game-cell {

    /*width: 34px;*/
    width:22px;

    /*height: 51px;*/
    
    height: 34px;

    /*outline: 1px solid; */

    float:left;/*fix for  buggy browsers*/

    display:table-column;

}

div.wall {

    background-image: url("images/wall.png");
    background-size:     cover;  
    background-color: #cccccc;

}


div.good-guy {

    background-image: url("images/good-guy.png");
    background-size:     cover;  
    background-color: #cccccc;

}

div.good-guy-left {

    background-image: url("images/good-guy-left.png");
    background-size:     cover;  
    background-color: #cccccc;

}

div.good-guy-right {

    background-image: url("images/good-guy-right.png");
    background-size:     cover;  
    background-color: #cccccc;

}

div.good-guy-back {

    background-image: url("images/good-guy-back.png");
    background-size:     cover;  
    background-color: #cccccc;

}

div.bad-guy {

    
background-image: url("images/bad-guy.png");
    
background-size:     cover;  
    background-color: #cccccc;

}

div.bad-guy-left {

    background-image: url("images/bad-guy-left.png");
    background-size:     cover;  
    background-color: #cccccc;

}

div.bad-guy-right {

    background-image: url("images/bad-guy-right.png");
    background-size:     cover;  
    background-color: #cccccc;

}

div.bad-guy-back {

    background-image: url("images/bad-guy-back.png");
    background-size:     cover;     
    background-color: #cccccc;

}


div.bad-guy-blue {

    background-image: url("images/bad-guy-blue.png");
    background-size:     cover;  
    background-color: #cccccc;

}

div.bad-guy-blue-left {

    background-image: url("images/bad-guy-blue-left.png");
    background-size:     cover;  
    background-color: #cccccc;

}

div.bad-guy-blue-right {

    background-image: url("images/bad-guy-blue-right.png");
    background-size:     cover;  
    background-color: #cccccc;

}

div.bad-guy-blue-back {

    background-image: url("images/bad-guy-blue-back.png");
    background-size:     cover;     
    background-color: #cccccc;

}


div.exit {

    background-image: url("images/exit.png");
    background-size:     cover;  
    background-color: #cccccc;
 
}

#up-button {
background: url(images/arrow-up.png);
}

#down-button {
background: url(images/arrow-down.png);
}

#left-button {
background: url(images/arrow-left.png);
}

#right-button {
background: url(images/arrow-right.png);
}

.nav-button {
touch-action: manipulation;
height:50px;
width:50px;
background-repeat: no-repeat;
background-position: center;
}
